/* Until there's time to find better ways.... */

.maxWidth2 {
  width: calc(100vw - 2rem);
}

@screen md {
  .maxWidth2 {
    width: calc(100vw - 3rem);
  }
}

.maxWidth4 {
  width: calc(100vw - 4rem);
}

@screen md {
  .maxWidth4 {
    width: calc(100vw - 5rem);
  }
}
